In [1]:
import pandas as pd
import numpy as np

In [19]:
url = "./2021/서울_상권_매출_2021.csv"
data = pd.read_csv(url, encoding='cp949')

In [20]:
com_sep = data.iloc[:, 2:4].drop_duplicates()
com_sep.to_csv('상권_코드_구분.csv', index=False, encoding='ANSI')

In [21]:
com_area = data.iloc[:, 4:6].drop_duplicates()
com_area.to_csv('상권_구역_구분.csv', index=False, encoding='ANSI')

In [22]:
com_service = data.iloc[:, 6:8].drop_duplicates()
com_service.to_csv('서비스_코드_구분.csv', index=False, encoding='ANSI')

In [23]:
df = data
drop_col = ['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']
for c in drop_col:
    df.drop(c, axis=1, inplace=True)

In [24]:
df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율',
       '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율',
       '시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율',
       '시간대_14~17_매출_비율', '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율',
       '여성_매출_비율', '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율',
       '연령대_40_매출_비율', '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액',
       '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
       '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [25]:
df_basic = pd.concat([df.iloc[:, :7], df.iloc[:, -1:]], axis=1)
df_weekday_per = df.iloc[:, 7:16]
df_time_per = df.iloc[:, 16:22]
df_age_per = df.iloc[:, 22:30]
df_weekday = df.iloc[:, 30:39]
df_time = df.iloc[:, 39:45]
df_age = df.iloc[:, 45:53]

In [26]:
number_data = pd.concat([df_basic, df_weekday, df_time, df_age], axis=1)
number_data.to_csv('서울_상권_매출_2021(NoRatio).csv', encoding='ANSI')

In [27]:
number_data.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '분기당_매출_금액',
       '분기당_매출_건수', '점포수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액',
       '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
       '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액'],
      dtype='object')

In [43]:
weekday_data = pd.concat([df_basic, df_weekday, df_weekday_per], axis=1)
weekday_data.to_csv('요일별_매출_2019.csv', index=False, encoding='ANSI')

In [44]:
time_data = pd.concat([df_basic, df_time, df_time_per], axis=1)
time_data.to_csv('시간별_매출_2019.csv', index=False, encoding='ANSI')

In [45]:
age_data = pd.concat([df_basic, df_age, df_age_per], axis=1)
age_data.to_csv('성별_연령별_매출_2019.csv', index=False, encoding='ANSI')

In [12]:
time_data = pd.concat([df_basic, df_time, df_time_per], axis=1)
time_data.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_코드,서비스_업종_코드,분기당_매출_금액,분기당_매출_건수,점포수,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,시간대_00~06_매출_비율,시간대_06~11_매출_비율,시간대_11~14_매출_비율,시간대_14~17_매출_비율,시간대_17~21_매출_비율,시간대_21~24_매출_비율
0,2020,3,R,1001370,CS300009,33850673.0,300,2,0,1497817,1397963.0,30954893.0,0.0,0,0,25,50,25,0,0
1,2020,3,R,1001386,CS200001,35211411.0,110,1,0,0,2567499.0,32643912.0,0.0,0,0,0,16,84,0,0
2,2020,1,A,1000022,CS200001,22367209.0,82,2,0,0,0.0,0.0,22367209.0,0,0,0,0,0,100,0
3,2020,3,R,1001402,CS100009,985883.0,6,3,985883,0,0.0,0.0,0.0,0,100,0,0,0,0,0
4,2020,1,A,1000001,CS100001,431442455.0,18548,19,0,2948631,199264316.0,50651452.0,152694784.0,25883272,0,2,47,13,36,2

In [46]:
data.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '분기당_매출_금액',
       '분기당_매출_건수', '주중_매출_비율', '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율',
       '수요일_매출_비율', '목요일_매출_비율', '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율',
       '시간대_00~06_매출_비율', '시간대_06~11_매출_비율', '시간대_11~14_매출_비율',
       '시간대_14~17_매출_비율', '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율',
       '여성_매출_비율', '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율',
       '연령대_40_매출_비율', '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액',
       '주말_매출_금액', '월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',
       '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액', '시간대_00~06_매출_금액',
       '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액',
       '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액',
       '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
       '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수', '주말_매출_건수', '월요일_매출_건수',
       '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수',
       '일요일_매출_건수', '시간대_건수~06_매출_건수', '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수',
       '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수',
       '여성_매출_건수', '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수',
       '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [35]:
df_2019 = pd.read_csv('./서울_상권_매출_2019(NoRatio).csv', encoding='ANSI', index_col=0)
df_2020 = pd.read_csv('./서울_상권_매출_2020(NoRatio).csv', encoding='ANSI', index_col=0)
df_2021 = pd.read_csv('./서울_상권_매출_2021(NoRatio).csv', encoding='ANSI', index_col=0)

In [44]:
df_all = pd.concat([df_2019, df_2020, df_2021], axis=0)

In [47]:
df_all.to_csv('서울_상권_매출_(2019-2021).csv', encoding='ANSI')

In [46]:
df_all.기준_년_코드

0        2019
1        2019
2        2019
3        2019
4        2019
         ...
96890    2021
96891    2021
96892    2021
96893    2021
96894    2021
Name: 기준_년_코드, Length: 364794, dtype: int64