In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'seoul_subway_timetable.csv'
data = pd.read_csv(url, encoding='cp949')

In [3]:
df_2 = data.copy()
df_2.drop('작업일자', axis=1, inplace=True)

In [4]:
people = df_2.columns[3:]
people_on = []
people_off = []

for i in people:
    if i[-4:] == '승차인원':
        people_on.append(i)
    else:
        people_off.append(i)

In [5]:
df_2['총승차인원'] = df_2[people_on].sum(axis=1)
df_2['총하자인원'] = df_2[people_off].sum(axis=1)

In [6]:
people_dawn_on = people_on[:2] + people_on[-4:]
people_morning_on = people_on[2:7]
people_lunch_on = people_on[7:10]
people_afternoon_on = people_on[10:13]
people_dinner_on = people_on[13:16]
people_night_on = people_on[16:19]

In [7]:
people_dawn_off = people_off[:2] + people_off[-4:]
people_morning_off = people_off[2:7]
people_lunch_off = people_off[7:10]
people_afternoon_off = people_off[10:13]
people_dinner_off = people_off[13:16]
people_night_off = people_off[16:19]

In [8]:
df_3 = pd.DataFrame()
df_3['시간대_00~06_승차_인원'] = df_2[people_dawn_on].sum(axis=1)
df_3['시간대_06~11_승차_인원'] = df_2[people_morning_on].sum(axis=1)
df_3['시간대_11~14_승차_인원'] = df_2[people_lunch_on].sum(axis=1)
df_3['시간대_14~17_승차_인원'] = df_2[people_afternoon_on].sum(axis=1)
df_3['시간대_17~21_승차_인원'] = df_2[people_dinner_on].sum(axis=1)
df_3['시간대_21~24_승차_인원'] = df_2[people_night_on].sum(axis=1)

df_3['시간대_00~06_하차_인원'] = df_2[people_dawn_off].sum(axis=1)
df_3['시간대_06~11_하차_인원'] = df_2[people_morning_off].sum(axis=1)
df_3['시간대_11~14_하차_인원'] = df_2[people_lunch_off].sum(axis=1)
df_3['시간대_14~17_하차_인원'] = df_2[people_afternoon_off].sum(axis=1)
df_3['시간대_17~21_하차_인원'] = df_2[people_dinner_off].sum(axis=1)
df_3['시간대_21~24_하차_인원'] = df_2[people_night_off].sum(axis=1)

In [9]:
def quarter(x):
    if x in ['01', '02', '03']:
        return 1
    if x in ['04', '05', '06']:
        return 2
    if x in ['07', '08', '09']:
        return 3
    if x in ['10', '11', '12']:
        return 4

df_2['사용월'] = df_2['사용월'].astype('str')
df_2['년도'] = df_2['사용월'].str.slice(start=0, stop=4)
df_2['분기'] = df_2['사용월'].str.slice(start=4, stop=6)
df_2['분기'] = df_2['분기'].apply(quarter)

In [10]:
df_2

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,총승차인원,총하자인원,년도,분기
0,202112,1호선,동대문,803,15,12276,1913,8716,5492,13464,...,0,0,0,0,0,0,308782,289581,2021,4
1,202112,1호선,동묘앞,116,0,2423,756,3270,3915,5412,...,1,1,0,1,0,0,235271,242269,2021,4
2,202112,1호선,서울역,769,16,8460,6094,11185,35735,34375,...,0,2,0,0,0,0,1182429,1142388,2021,4
3,202112,1호선,시청,37,2,1902,4537,2827,19095,6322,...,0,1,0,0,0,0,570037,569533,2021,4
4,202112,1호선,신설동,383,6,7270,2738,7731,10318,15891,...,0,0,0,0,0,0,362626,352755,2021,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48981,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,0,0,0,0,0,0,31355,27964,2015,1
48982,201501,중앙선,원덕,1,0,292,4,415,46,537,...,0,0,0,0,0,0,9302,8835,2015,1
48983,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,0,0,0,0,0,0,180969,173412,2015,1
48984,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,0,0,0,0,0,0,20806,19999,2015,1
48985,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,0,0,0,0,0,0,858534,842898,2015,1

In [13]:
df_3 = pd.concat([df_2[['년도', '분기', '호선명', '지하철역']], df_3], axis=1)

In [14]:
df_3

,년도,분기,호선명,지하철역,시간대_00~06_승차_인원,시간대_06~11_승차_인원,시간대_11~14_승차_인원,시간대_14~17_승차_인원,시간대_17~21_승차_인원,시간대_21~24_승차_인원,시간대_00~06_하차_인원,시간대_06~11_하차_인원,시간대_11~14_하차_인원,시간대_14~17_하차_인원,시간대_17~21_하차_인원,시간대_21~24_하차_인원
0,2021,4,1호선,동대문,13103,72419,56355,71947,60632,31709,3283,77090,61033,56837,52155,31504
1,2021,4,1호선,동묘앞,2550,32696,51084,89042,47186,11733,2195,60568,73968,64857,24857,13333
2,2021,4,1호선,서울역,9290,189315,180624,218776,400467,171438,6953,493809,173241,175172,200263,84247
3,2021,4,1호선,시청,1967,35498,53986,102880,259112,111310,4693,354148,83962,60813,50374,13830
4,2021,4,1호선,신설동,7690,78372,55250,73668,113195,32171,3607,142757,53090,52160,62631,32597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48981,2015,1,중앙선,운길산,180,6259,4528,10856,7207,2214,278,9411,7017,4346,3975,2304
48982,2015,1,중앙선,원덕,296,3780,1975,1744,1219,280,161,1408,1431,1927,2170,1355
48983,2015,1,중앙선,중랑,5029,81936,31703,25992,23127,11563,2042,23422,18841,30749,54757,37100
48984,2015,1,중앙선,팔당,169,4411,3361,6815,4722,1221,135,8686,4429,2885,2550,978
48985,2015,1,중앙선,회기,12132,270783,144714,152658,160318,99724,12384,171200,116710,135891,217166,153845

In [15]:
df_4 = df_3.groupby(['년도','분기', '호선명', '지하철역']).sum().reset_index()

In [20]:
df_2021 = df_4[df_4['년도']=='2021']
df_2020 = df_4[df_4['년도']=='2020']
df_2019 = df_4[df_4['년도']=='2019']

In [22]:
df_2021.to_csv('2021_승하차_인원.csv')
df_2020.to_csv('2020_승하차_인원.csv')
df_2019.to_csv('2019_승하차_인원.csv')