In [1]:
import pandas as pd
import numpy as np

In [2]:
url = './서울_상권_매출_(2019-2021).csv'
df = pd.read_csv(url, encoding='ANSI', index_col=0)

In [3]:
market_df = df.groupby(['상권_구분_코드', '서비스_업종_코드']).sum()[['주중_매출_금액','주말_매출_금액']].reset_index()

In [4]:
market_df['총_매출_금액'] = market_df['주중_매출_금액'] + market_df['주말_매출_금액']

In [5]:
market_df.drop(['주중_매출_금액', '주말_매출_금액'], axis=1, inplace=True)

In [6]:
market_df[market_df['상권_구분_코드']=='A'].sort_values(by='총_매출_금액', ascending=False).head(20)

   상권_구분_코드 서비스_업종_코드       총_매출_금액
0         A  CS100001  9.167726e+12
33        A  CS300002  5.599997e+12
32        A  CS300001  4.487122e+12
46        A  CS300018  3.952086e+12
41        A  CS300011  2.364894e+12
14        A  CS200006  2.352682e+12
40        A  CS300010  1.711387e+12
9         A  CS100010  1.521042e+12
8         A  CS100009  1.447139e+12
37        A  CS300007  1.447106e+12
15        A  CS200007  1.434027e+12
10        A  CS200001  1.405895e+12
7         A  CS100008  1.139129e+12
39        A  CS300009  1.020044e+12
50        A  CS300022  9.684830e+11
47        A  CS300019  9.598172e+11
23        A  CS200028  9.419026e+11
1         A  CS100002  8.771658e+11
21        A  CS200025  8.664688e+11
4         A  CS100005  8.304301e+11

In [8]:
market_df[market_df['상권_구분_코드']=='D'].sort_values(by='총_매출_금액', ascending=False).head(20)

    상권_구분_코드 서비스_업종_코드       총_매출_금액
63         D  CS100001  1.238176e+13
97         D  CS300003  1.120363e+13
77         D  CS200006  7.374923e+12
104        D  CS300011  6.867654e+12
96         D  CS300002  4.781203e+12
109        D  CS300018  4.474797e+12
113        D  CS300022  3.756941e+12
72         D  CS100010  3.657141e+12
101        D  CS300008  2.807697e+12
71         D  CS100009  2.724616e+12
103        D  CS300010  2.556779e+12
78         D  CS200007  2.425222e+12
70         D  CS100008  2.366001e+12
108        D  CS300017  2.205637e+12
121        D  CS300032  2.031641e+12
112        D  CS300021  2.001282e+12
95         D  CS300001  1.900235e+12
66         D  CS100004  1.739037e+12
65         D  CS100003  1.726186e+12
67         D  CS100005  1.317369e+12

In [9]:
market_df[market_df['상권_구분_코드']=='R'].sort_values(by='총_매출_금액', ascending=False).head(20)

    상권_구분_코드 서비스_업종_코드       총_매출_금액
165        R  CS300009  4.498431e+12
163        R  CS300007  3.845892e+12
167        R  CS300011  2.040839e+12
126        R  CS100001  1.999999e+12
158        R  CS300001  1.820058e+12
164        R  CS300008  1.582097e+12
166        R  CS300010  1.321268e+12
172        R  CS300018  1.133507e+12
140        R  CS200006  8.972336e+11
141        R  CS200007  5.253758e+11
162        R  CS300006  4.553177e+11
176        R  CS300022  4.125089e+11
180        R  CS300027  3.424140e+11
188        R  CS300043  3.151683e+11
159        R  CS300002  3.003154e+11
133        R  CS100008  2.999319e+11
168        R  CS300014  2.978432e+11
187        R  CS300036  2.946457e+11
142        R  CS200008  2.794829e+11
134        R  CS100009  2.288619e+11

In [10]:
market_df[market_df['상권_구분_코드']=='U'].sort_values(by='총_매출_금액', ascending=False).head(20)

    상권_구분_코드 서비스_업종_코드       총_매출_금액
230        U  CS300011  3.104639e+12
189        U  CS100001  1.452565e+12
239        U  CS300022  1.065979e+12
222        U  CS300002  5.306346e+11
240        U  CS300024  4.850574e+11
238        U  CS300021  4.371564e+11
198        U  CS100010  4.365556e+11
196        U  CS100008  3.496537e+11
234        U  CS300017  3.488697e+11
221        U  CS300001  3.461378e+11
231        U  CS300014  3.447012e+11
192        U  CS100004  3.376504e+11
251        U  CS300043  3.360485e+11
235        U  CS300018  3.082769e+11
243        U  CS300027  2.769634e+11
229        U  CS300010  2.627660e+11
197        U  CS100009  2.404014e+11
204        U  CS200007  2.287714e+11
203        U  CS200006  2.204301e+11
250        U  CS300036  2.028424e+11